<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <!-- Set the authentication mode to use Windows Credentials. -->
      <authentication mode="Windows" />

      <!-- Display full stack traces when exceptions occur. -->
      <customErrors mode="Off" />
      
      <!-- Deny access to unauthenticated users. -->
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
